body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    padding: 50px;
    margin: 50px;
  
  
  }
  
  table {
      border-collapse: collapse;
  
    border: 1px solid #ccc;
   
    
    width: 100%;
    table-layout: fixed;
   
      
  }
  thead{
      background-color: #94C2ED;
  }
  
  table caption {
  
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
  
    
    border: 1px solid #ddd;
    padding: .35em;
    
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    padding:20px;
      margin: 20px;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      border-radius: 25px;
  
     
    }
  
    table caption {
  
      font-size: 1.3em;
    }
    
    table thead {
  
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
  
      border-bottom: 3px solid #6DBCB6;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
     
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
       